@import "../core/keyframes.scss";
@import "../core/variables.scss";

.header_login {
    height: 9vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    &_img {
        width: 100%;
        height: 100%;
        &--wrapper {
            width: 340px;
            height: 105px;
            margin-top: 140px;
            animation: fadeIn-moveIn linear 2s;
        }
        &--wrapper2{
            width: 120px;
            height: 105px;
            margin-top: 140px;
            animation: fadeIn-moveIn linear 2s;
        }
    }
}